apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongo-deployment
  labels:
    app: mongo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mongo
  template:
    metadata:
      labels:
        app: mongo
    spec:
      volumes:
        - name: mongo-data
          persistentVolumeClaim:
            claimName: my-pvc
        - name: mongo-secret
          secret:
            secretName: mongo-secret
      containers:
        - name: mongo
          image: docker.io/library/mongo
          volumeMounts:
            - name: mongo-secret
              mountPath: '/etc/mongo-secret'
              readOnly: true
            - name: mongo-data
              mountPath: '/data/db'
          env:
            - name: MONGO_INITDB_ROOT_USERNAME
              valueFrom:
                secretKeyRef:
                  name: mongo-secret
                  key: username
            - name: MONGO_INITDB_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mongo-secret
                  key: password
          ports:
            - containerPort: 27017
